.categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.div-block-6 {
    background-image: url(https://images.pexels.com/photos/1555453/pexels-photo-1555453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: 0px -72px;
    background-size: cover;
}

.div-block-4 {
    flex: 0 0 21%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 250px;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://images.pexels.com/photos/1555453/pexels-photo-1555453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://images.pexels.com/photos/1555453/pexels-photo-1555453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: 0px 0px, -24px -1px;
    background-size: auto, cover;
    background-attachment: scroll, fixed;
    box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, .5);
    opacity: 1;
    // Mine
    // margin-bottom: 25px;
    margin: 20px 25px;
}

.div-block-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;


    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://images.pexels.com/photos/1555453/pexels-photo-1555453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://images.pexels.com/photos/1555453/pexels-photo-1555453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: 0px 0px, -24px -1px;
    background-size: auto, cover;
    background-attachment: scroll, fixed;

}

.text-block {
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #3b4151;;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #000;
}

.paragraph-4 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    color: #3b4151;;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.div-block-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;

    flex-flow: row wrap;

}

.subcategory {
    display: block;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgba(145, 107, 6, .9);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, .3);
    font-family: 'Montserrat', sans-serif;
    color: #3b4151;;
    font-weight: 500;
    //
    margin: 2px;
}
